@import "common/css/common";

.logo {
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    height: 130px;
}

@keyframes pulse {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 60%;
    }

    100% {
        opacity: 100%;
    }
}

.logoCenter {
    top: 135px;
    transition: top 300ms;

    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 300ms;
}

.form {
    position: absolute;
    left: 0;
    top: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formHidden {
    opacity: 0;
    transition: opacity 300ms;
}

#urlInput {
    border: none;
    box-shadow: none;
    width: 50%;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    background-color: #eef3f8;
    border-radius: 0.6rem;
    color: $font-primary-color;

    margin-bottom: 30px;

    transition-property: background-color, box-shadow, border-color, width;
    transition-duration: 100ms;

    &:hover,
    &:focus {
        background-color: #f0f3f8;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0);
    }

    &:focus {
        width: 70%;
    }

    // Undo page styling
    outline: none;
}
