.carouselView {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.elementContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    transition: transform 100ms;
}
