@import "common/css/common";

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: relative;
    width: 1000px;
    height: 800px;
    background-color: white;
    border-radius: 10px;

    transition-property: width, height;
    transition-duration: 200ms;
}

.modalSmall {
    width: 600px;
    height: 400px;
}

.xContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);

    transition: background-color 500ms;

    &:hover {
        background-color: $very-light-grey;
    }
}
