@import "common/css/common";

.pageTitleContainer {
    position: absolute;
    top: 30px;
    left: 45px;
}

.arrowContainer {
    width: 25px;
    height: 25px;
}

.headlineSectionContainer {
    margin-top: 75px;
    height: 110px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.headlineInputContainer {
    width: 500px;
    height: 100%;
}

.headlineArrow {
    margin: 30px;
    margin-bottom: 40px;
}

.overlayTextSectionContainer {
    margin-top: 2px;
    height: 87px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.overlayTextInputContainer {
    width: 500px;
    height: 100%;
}

.overlayTextArrow {
    margin: 30px;
}

.imageSectionContainer {
    margin-top: 2px;
    height: 300px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageInputContainer {
    display: flex;
    width: 500px;
    height: 100%;
}

.imageArrow {
    margin: 30px;
}

.image {
    height: 300px;
    width: 300px;
}

.introTextSectionContainer {
    margin-top: 30px;
    height: 190px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.introTextInputContainer {
    width: 500px;
    height: 100%;
}

.introTextArrow {
    margin: 30px;
    margin-top: 50px;
}

.numberButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numberButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;

    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $very-light-grey;
    }
}

.selectedNumber {
    background-color: $light-grey;

    &:hover {
        background-color: $light-grey;
        cursor: default !important;
    }
}

.buttonBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.leftSideButton {
    margin-right: auto;
}

.rightSideButton {
    margin-left: 15px;
}

.overlayContainer {
    position: relative;
}

.theText {
    position: absolute;
    top: 8px;
    left: 8px;
    user-select: none;
    color: #fff;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font: bold 35px Helvetica;
}
