@import "common/css/common";

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    border: 0.1rem solid rgba(0, 0, 0, 0);
    min-height: 3.2rem;
    border-radius: 0.2rem;
    padding: 0.4rem 1.6rem;
    font-size: $font-small-size;
    font-weight: $font-bold-weight;
    font-family: $font-family-sans;

    &:hover {
        background-color: #006097;
        box-shadow: 0 0 0 0.1rem #006097;
    }
}

.icon {
    width: $font-small-size;
    margin-right: 0.5rem;
}
