@import "common/css/common";

.inputContainer {
    position: relative;
    width: 100%;

    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;

    margin: 2px;
    margin-bottom: 30px;

    transition: box-shadow 100ms;

    &:hover {
        box-shadow: 0 0 0 1.5px $very-light-grey;
    }
}

.inputText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: $font-large-size;
    font-family: $font-family-sans;
    resize: none;
    outline: none;
    caret-color: black;
}

.hiddenBack {
    position: relative;
    height: auto;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    opacity: 0;
    min-height: 75px;
}

.buttonBar {
    position: absolute;
    right: -1.5px;
    bottom: -30px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: $very-light-grey;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    opacity: 0%;
    transition: opacity 100ms;
}

.inputContainer:hover .buttonBar {
    opacity: 100%;
}

.button {
    width: 20px;
    height: 20px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $light-grey;
    }
}

.icon {
    width: 14px;
    height: 14px;
}
